#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@ --with cli

override_dh_auto_configure:
	# Dynamically patch the makefiles to use the distributions 
	# default mono compiler instead of dmcs.
	find . -name Makefile -exec sed -i "s/ASSEMBLY_COMPILER_COMMAND = dmcs/ASSEMBLY_COMPILER_COMMAND = mono-csc/g" {} \;
	
	./configure --prefix=/usr --config=GNOME_RELEASE

override_dh_auto_clean: override_dh_auto_configure
	dh_auto_clean	
	rm -f config.log config.make Basenji/basenji.desktop
	find -name "*.pc" | xargs rm -rf
	# undo dynamic mono-csc patch to prevent dpkg-source from creating a useless debian patch
	find . -name Makefile -exec sed -i "s/ASSEMBLY_COMPILER_COMMAND = mono-csc/ASSEMBLY_COMPILER_COMMAND = dmcs/g" {} \;

